# Action 1：求和

In [1]:
sum = 0

In [2]:
for i in range(2,102,2):
    sum = sum + i
print(sum)

2550

# Action2:统计全班的成绩

In [3]:
#coding utf-8
import numpy as np
import pandas as pd

In [4]:
#numpy
persontype = np.dtype({
   'names':['name','chineses','math','English'],
   'formats':['S32','i','i','i']})

peoples = np.array(
    [   ("zhangfei", 68, 65, 30),
        ("guanyu", 95, 76, 98),
        ("liubei", 98, 86, 88),
        ("dianwei", 90, 88, 77),
        ("xuchu", 80, 90, 90)
    ], dtype=persontype)


chineses = peoples[:]['chineses']
math = peoples[:]['math']
English = peoples[:]['English']

def show(name,cj):
    print('{} | {} | {} | {} | {} | {} '
          .format(name,np.mean(cj),np.min(cj),np.max(cj),np.var(cj),np.std(cj)))
    
print("科目 | 平均成绩 | 最小成绩 | 最大成绩 | 方差 | 标准差")
show("语文", chineses)
show("英语", English)
show("数学", math)

科目 | 平均成绩 | 最小成绩 | 最大成绩 | 方差 | 标准差
语文 | 86.2 | 68 | 98 | 120.16 | 10.961751684835777
英语 | 76.6 | 30 | 98 | 587.8399999999999 | 24.24541193710678
数学 | 81.0 | 65 | 90 | 87.2 | 9.338094023943002

In [5]:
ranking = sorted(peoples,key=lambda x:x[1]+x[2]+x[3], reverse=True)
print( ranking) #打印排名

[(b'liubei', 98, 86, 88), (b'guanyu', 95, 76, 98), (b'xuchu', 80, 90, 90), (b'dianwei', 90, 88, 77), (b'zhangfei', 68, 65, 30)]

In [6]:
#pandas
data = {'Chinese':[68, 95, 98,90,80],'Math':[65,76,86,88,90],'English':[30,98,88,77,90]}
index = ['张飞', '关羽', '刘备', '典韦', '许褚']
columns = [ 'Chinese','Math', 'English']
df = pd.DataFrame(data,index,columns)
print(df)
print(df.describe())

    Chinese  Math  English
张飞       68    65       30
关羽       95    76       98
刘备       98    86       88
典韦       90    88       77
许褚       80    90       90
         Chinese       Math    English
count   5.000000   5.000000   5.000000
mean   86.200000  81.000000  76.600000
std    12.255611  10.440307  27.107195
min    68.000000  65.000000  30.000000
25%    80.000000  76.000000  77.000000
50%    90.000000  86.000000  88.000000
75%    95.000000  88.000000  90.000000
max    98.000000  90.000000  98.000000

In [7]:
#总成绩排序
df['Total'] = df['Chinese']+df['Math']+df['English']
DF = df.sort_values('Total')
print(DF)

    Chinese  Math  English  Total
张飞       68    65       30    163
典韦       90    88       77    255
许褚       80    90       90    260
关羽       95    76       98    269
刘备       98    86       88    272

# Action3:对汽车质量数据进行统计

In [8]:
data = pd.read_csv(r'D:\1_Up\Heima\Data_Engine\L1\car_data_analyze\car_complain.csv')

In [9]:
#data.shape
data.head()

,id,brand,car_model,type,desc,problem,datetime,status
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,"H93,H15,",2020-06-08,信息审核
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,"H343,",2020-06-08,信息审核
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,"H93,H15,H89,",2020-06-08,信息审核
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,"B84,E111,",2020-06-08,信息审核
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,"N318,",2020-06-08,厂家受理

In [10]:
data = data.drop('problem',1).join(data.problem.str.get_dummies(','))
data.head()

,id,brand,car_model,type,desc,datetime,status,A11,A114,A12,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,2020-06-08,厂家受理,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [11]:
#品牌投诉总数

def f(x):
    x = x.replace('一汽-大众','一汽大众')     #数据清洗，合并同名
    return x

data['brand'] = data['brand'].apply(f)    
result1 = data.groupby(['brand'])['id'].agg(['count'])
result1

        count
brand
一汽丰田       12
一汽吉林        2
一汽大众       58
一汽大众奥迪     19
一汽奔腾        6
...       ...
长安汽车        6
长安铃木        2
长安马自达       4
雷克萨斯        2
领克汽车        5

[74 rows x 1 columns]

### 不同problem类型的总数

In [12]:
tags = data.columns[7:]
tags

Index(['A11', 'A114', 'A12', 'A13', 'A136', 'A14', 'A145', 'A163', 'A174',
       'A18',
       ...
       'N318', 'N319', 'O296', 'O326', 'O348', 'O354', 'Q322', 'Q323', 'Q349',
       'Q350'],
      dtype='object', length=174)

In [13]:
result2 = data.groupby(['brand'])[tags].agg(['sum'])
result2

,A11,A114,A12,A13,A136,A14,A145,A163,A174,A18,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,...,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum
brand,,,,,,,,,,,,,,,,,,,,,
一汽丰田,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽吉林,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
一汽大众,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
一汽大众奥迪,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
一汽奔腾,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
长安汽车,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安铃木,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
长安马自达,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
雷克萨斯,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
领克汽车,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### 品牌投诉总数排序

In [21]:
result3 = result1.merge(result2,left_index=True,right_index=True,how = 'left')
result3.reset_index(inplace=True)
result3 = result3.sort_values('count',ascending =False)
result3

C:\Users\zhangwei23\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,brand,count,"(A11, sum)","(A114, sum)","(A12, sum)","(A13, sum)","(A136, sum)","(A14, sum)","(A145, sum)","(A163, sum)",...,"(N318, sum)","(N319, sum)","(O296, sum)","(O326, sum)","(O348, sum)","(O354, sum)","(Q322, sum)","(Q323, sum)","(Q349, sum)","(Q350, sum)"
37,吉利汽车,96,0,0,1,0,0,1,0,0,...,0,0,0,0,7,0,0,0,0,1
7,一汽马自达,95,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,一汽大众,58,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
8,上汽大众,36,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,一汽大众奥迪,19,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,天津一汽,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,多士星,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,北汽新能源,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,北汽昌河,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,东风小康,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 车型投诉总数排序

In [33]:
result4 = data.groupby(['car_model'])['id'].agg(['count'])
result4 = result4.sort_values('count',ascending =False)
result4.reset_index(inplace=True)
result4

    car_model  count
0         阿特兹     75
1          星越     43
2          速腾     22
3     马自达CX-4     20
4          博越     13
..        ...    ...
207        悦翔      1
208     捷豹XEL      1
209     捷豹XFL      1
210       撼路者      1
211   高尔夫（进口）      1

[212 rows x 2 columns]

### 品牌的车型平均投诉

In [23]:
result5 = data.groupby(['brand','car_model'])['id'].agg(['count'])
result5

                 count
brand car_model
一汽丰田  RAV4荣放         3
      亚洲龙            3
      卡罗拉            2
      奕泽IZOA         1
      威驰             2
...                ...
长安马自达 马自达CX-5        1
雷克萨斯  雷克萨斯CT         1
      雷克萨斯LS         1
领克汽车  领克01           3
      领克02           2

[213 rows x 1 columns]